<h1>STUPID COACHING</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class="container">
<h1><%= @question %></h1>
<h1><%= @answer %></h1>
<a href = "/ask">Ask another question</a>
</div>

